.DS_Store
*.log
~*
DerivedData/*
*/DerivedData/*
/Build/*
/build
tmp-build/
*.xcuserstate
*.xcbkptlist
*/xcshareddata/*
UserInterfaceState.xcuserstate
contents.xcworkspacedata
xcuserdata
xcuserdata/*
/Pods/*
Podfile.lock

#*.cer
#*.mobileprovision